</body>
<footer><p>By AKHIL RAVIPATI</p></footer>
<section id="section">
    <h6>Stay connected</h6>
    <a href="https://www.facebook.com/ravipatiakhil" target="-blank"><span ><img src="img/fb.png" width="50" height="50" alt="facebook Social Link"></span></a>
    <a href="https://www.linkedin.com/in/akhil-ravipati-a84023b8/" target="-blank"><span ><img src="img/linkedin.png" width="50" height="50" alt="Linkedin Social Link"></span></a>
    <a href="https://github.com/S530485" target="-blank"><span ><img src="img/github.png" width="50" height="50" alt="GitHub Social Link"></span></a>
    <a href="https://bitbucket.org/S530485/" target="-blank"><span ><img src="img/bitbucket.png" width="50" height="50" alt="bitbucket Social Link"></span></a>
</section>
</html>
